@model Employee
<tr>
    <td>
        @Model.GetFullName
    </td>
    <td>
        @Model.Email
    </td>
    <td>
        @Model.Salary.Value.ToString("c")
    </td>
    <td>
        @Model.Skill.SkillName
    </td>
    <td>
        @Model.Department.DepartmentName
    </td>
    <td>
        @Model.DateHire.ToLongDateString()
    </td>
    <td>
        <a asp-page="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-outline-primary btn-sm mb-2">Edit</a>
        <a asp-page="Details" asp-route-id="@Model.EmployeeId" class="btn btn-outline-info btn-sm mb-2">Details</a>
        <a asp-page="Delete" asp-route-id="@Model.EmployeeId" class="btn btn-outline-danger btn-sm mb-2">Delete</a>
    </td>
</tr>